<nav id="nav">
    <ul>
        <li><a href="saved-news.html"><i class="far fa-save"></i></a></li>
        <li><a href="index.html"><i class="far fa-newspaper"></i></a></li>
        <li><a href="settings.html"><i class="fas fa-cog"></i></a></li>
    </ul>
</nav>