<%- include("../partials/head") %>
    <style>
        body{
            background-color:#f00;
            color:#000;
        }
        h1{
            text-decoration:underline;
            text-align:center;
        }
    </style>
</head>
<body>
    <div id="wrapper">
        <h1>You can not access the site because you are offline, and the cache is empty (the site was not saved on your device)</h1>
<%- include("../partials/last") %>
